<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<!--
 table 数据表格文档 - layui.table
https://www.layui.com/doc/modules/table.html-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>菜单列表</title>

    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="assets/css/fonts.googleapis.com.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="assets/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="assets/layui/css/layui.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="no-skin">


<script type="text/javascript">
    try {
        ace.settings.loadState('main-container')
    } catch (e) {
    }

    function addUser() {
        location.href = "/add";
    }
</script>

<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">

            <div class="page-header">
                <h1>
                    后台管理
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        系统用户
                    </small>
                </h1>
            </div><!-- /.page-header -->
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
                                    <a class="btn btn-success" href="javascript:void(0)" onclick="add()">
                                        <i class="fa fa-plus"></i> 新增
                                    </a>
                                    <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()">
                                        <i class="fa fa-remove"></i> 删除
                                    </a>
                                    <a class="btn btn-success" href="javascript:void(0)"  ay-data="{id:‘myTable‘}" onclick="test()" lay-event="del">
                                        <i class="fa fa-plus"></i> 测试
                                    </a>
                                </div>
                                <div class="nav-search" id="nav-search">
                                    <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                                    </form>
                                </div><!-- /.nav-search -->
                                <table id="simple-table" class="table  table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" id="selectBox"/>
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>用户ID</th>
                                        <th>登录名称</th>
                                        <th>用户名称</th>
                                        <th>手机</th>
                                        <th class="hidden-480">状态</th>
                                        <th class="hidden-480">创建时间</th>
                                        <th class="hidden-480">操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <!--<tr data-th-each="user : ${list}">-->
                                    <!--/*@thymesVar id="list" type="list"*/-->
                                    <tr th:each="user:${list}">
                                        <td class="center">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace"/>
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                        </td>
                                        <td th:text="${user.userId}"></td>
                                        <td th:text="${user.loginName}"></td>
                                        <td th:text="${user.userName}"></td>
                                        <td th:text="${user.phonenumber}"></td>
                                        <td th:text="${user.status == 1} ? '正常' : '停用'"></td>
                                        <td th:text="${#calendars.format(user.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <button class="btn btn-xs btn-info"
                                                        th:onclick="'editUser('+${user.userId}+')'">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </button>
                                                <button class="btn btn-xs btn-danger"
                                                        th:onclick="'deleteUser('+${user.userId}+')'">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div id="grid-pager" class="ui-jqgrid-pager ui-state-default ui-corner-bottom" dir="ltr"
                                     style="width: 1353px;">
                                    <div id="pg_grid-pager" class="ui-pager-control" role="group">
                                        <table class="ui-pg-table ui-common-table ui-pager-table ">
                                            <tbody>
                                            <tr>
                                                <td id="grid-pager_left" align="left">
                                                    <table class="ui-pg-table navtable ui-common-table">
                                                        <tbody>
                                                        <tr>
                                                            <td class="ui-pg-button ui-corner-all" title=""
                                                                id="add_grid-table" data-original-title="Add new row">
                                                                <div class="ui-pg-div"><span
                                                                        class="ui-icon ace-icon fa fa-plus-circle purple"></span>
                                                                </div>
                                                            </td>
                                                            <td class="ui-pg-button ui-corner-all" title=""
                                                                id="edit_grid-table"
                                                                data-original-title="Edit selected row">
                                                                <div class="ui-pg-div"><span
                                                                        class="ui-icon ace-icon fa fa-pencil blue"></span>
                                                                </div>
                                                            </td>
                                                            <td class="ui-pg-button ui-corner-all" title=""
                                                                id="view_grid-table"
                                                                data-original-title="View selected row">
                                                                <div class="ui-pg-div"><span
                                                                        class="ui-icon ace-icon fa fa-search-plus grey"></span>
                                                                </div>
                                                            </td>
                                                            <td class="ui-pg-button ui-corner-all" title=""
                                                                id="del_grid-table"
                                                                data-original-title="Delete selected row">
                                                                <div class="ui-pg-div"><span
                                                                        class="ui-icon ace-icon fa fa-trash-o red"></span>
                                                                </div>
                                                            </td>
                                                            <td class="ui-pg-button ui-state-disabled"
                                                                style="width:4px;" data-original-title="" title=""><span
                                                                    class="ui-separator"></span></td>
                                                            <td class="ui-pg-button ui-corner-all" title=""
                                                                id="search_grid-table"
                                                                data-original-title="Find records">
                                                                <div class="ui-pg-div"><span
                                                                        class="ui-icon ace-icon fa fa-search orange"></span>
                                                                </div>
                                                            </td>
                                                            <td class="ui-pg-button ui-corner-all" title=""
                                                                id="refresh_grid-table"
                                                                data-original-title="Reload Grid">
                                                                <div class="ui-pg-div"><span
                                                                        class="ui-icon ace-icon fa fa-refresh green"></span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td id="grid-pager_center" align="center"
                                                    style="white-space: pre; width: 337px;">
                                                    <table class="ui-pg-table ui-common-table ui-paging-pager">
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- /.span -->
                        </div><!-- /.row -->
                        <div th:utext="${page}"></div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.breadcrumbs -->
</div><!-- /.main-content-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="assets/js/dataTables.buttons.min.js"></script>
<script src="assets/js/buttons.flash.min.js"></script>
<script src="assets/js/buttons.html5.min.js"></script>
<script src="assets/js/buttons.print.min.js"></script>
<script src="assets/js/buttons.colVis.min.js"></script>
<script src="assets/js/dataTables.select.min.js"></script>
<script src="assets/layer/layer.js"></script>
<script src="leli/js/leli-ui.js"></script>

<!-- ace scripts -->
<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>

<script type="text/javascript" src="assets/layui/layui.js"></script>

<!-- inline scripts related to this page -->
<script th:inline="javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var myTable =
            $('#dynamic-table')
                .DataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        {"bSortable": false},
                        null, null, null, null, null,
                        {"bSortable": false}
                    ],
                    "aaSorting": [],
                });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if ($row.is('.detail-row ')) return;
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });


        $('#simple-table').on('click', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'detail') { //查看
                //do somehing
            } else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') { //编辑
                //do something

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    , title: 'xxx'
                });
            }
        });
    })

    function add() {
        layer.open({
            type: 2,
            maxmin: true,
            shade: 0.3,
            title: "添加用户",
            fix: false,
            area: ['800px', '600px'],
            content: "/user/add",
            shadeClose: true,
            btn: ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-close"></i> 关闭'],
            yes: function (index, layero) {
                let iframeWin = layero.find('iframe')[0];
                iframeWin.contentWindow.submitHandler();
            }, cancel: function () {
                return true;
            }
        });
    }

    function test() {

    }


    //用户新增
    function addUser() {
        let index = layer.open({
                title: "用户新增",
                type: 2,
                area: ['800px', '500px'],
                shadeClose: true, //点击遮罩关闭
                content: '/user/user',
                fix: true
            }
        );
    }

    //用户修改
    function editUser(userId) {
        let index = layer.open({
                title: "用户修改",
                type: 2,
                area: ['800px', '500px'],
                btn: ['确定', '关闭'],
                shadeClose: true, //点击遮罩关闭
                content: '/user/edit/' + userId,
                fix: true,
                yes: function (index, layero) {
                    let iframeWin = layero.find('iframe')[0];
                    iframeWin.contentWindow.submitHandler();
                },
                cancel: function (index) {
                    return true;
                }
            }
        );
    }

    //用户删除
    function deleteUser(userId) {
        if (confirm("您确定要删除吗？")) {
            $.ajax({
                cache: true,
                type: "DELETE",
                url: "/user/remove/" + userId,
                async: false,
                error: function (request) {
                    $.modal.alertError("系统错误");
                },
                success: function (data) {
                    location.reload();
                }
            });
        }
    }

</script>
</body>
</html>
